root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cmake,cpp,h,ps1,xml,json,manifest}]
indent_style = space
indent_size = 4

[*.rc]
indent_style = space
indent_size = 4

[*.rc.in]
indent_style = space
indent_size = 4

[CMakeLists.txt]
indent_style = space
indent_size = 4
